
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% st %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/stlyes.css">


</head>
<body id="page-top">
<div id="wrapper">

    <!-- Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar--light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-success d-md-none rounded-circle mr-3 ">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <!--Form bar enters the navigation at the point -->
<!--                Search Enters Here-->


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link text-success dropdown-toggle " href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw mt-2"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-secondary mt-1">
                            <i class="fa fa-code"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-secondary m-1">
                            <i class="fa fa-user-circle fa-2x"></i>
                        </a>
                    </li>


                    <!-- Nav Item - User Information -->


                </ul>

            </nav>
            <!-- Scroll to Top Button-->
            <div id="heading">
<!--                Subheading Entry -->
            </div>
            <div class="card bg-light mx-lg-4 mb-2 ">
                <div class="row card-body">
                    <div class="col-11">
<!--                        Point of Tutorial or Code Entry Entry-->
                    </div>
<!--                    Following div should be used just if preceding tutorials are code-->
<!--                    <div class="col-1 align-content-end">-->
<!--                        <a href="#" class="text-success">-->
<!--                            <i class="fa fa-copy copy"></i>-->
<!--                        </a>-->
<!--                    </div>-->
                </div>
            </div>

        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="js/sb-admin-2.js"></script>
</body>
</html>