<li class="nav-item dropdown no-arrow d-sm-none">
    <a class="nav-link text-success dropdown-toggle " href="#" id="searchDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw mt-2"></i>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link text-secondary mt-1">
        <i class="fa fa-code"></i>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link text-secondary m-1">
        <i class="fa fa-user-circle fa-2x"></i>
    </a>
</li>